
<h1> Credit Card System</h1>
<h2>Add</h2>
<div class="credit-card-form">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>Name</label><br>
      <input
              type="text"
              formControlName="name"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f['name'].errors }"
      />
      <div *ngIf="submitted && f['name'].errors" class="invalid-feedback">
        <div *ngIf="f['name'].errors['required']">Name is required</div>
      </div>
    </div><br>
    <div class="form-group">
      <label>Card Number</label><br>
      <input
              type="text"
              id="name"
              (change)="changeValue()"
              formControlName="cardNumber"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f['cardNumber'].errors }"
      />
      <div *ngIf="submitted && f['cardNumber'].errors" class="invalid-feedback">
        <div *ngIf="f['cardNumber'].errors['required']">Card Number is required</div>
        <div *ngIf="f['cardNumber'].errors['matching']">Card Number is invalid, enter only numeric values and length 16</div>
      </div>
    </div><br>
    <div class="form-group">
      <label>Limit</label><br>
      <input
              type="text"
              formControlName="cardLimit"
              class="form-control"
              pattern="^[0-9]*$"
              [ngClass]="{ 'is-invalid': submitted && f['cardLimit'].errors }"
      />
      <div *ngIf="submitted && f['cardLimit'].errors" class="invalid-feedback">
        <div *ngIf="f['cardLimit'].errors['required']">Limit is required</div>
        <div *ngIf="f['cardLimit'].errors['pattern']">Limit is invalid, enter only numeric values</div>
      </div>
    </div><br>
    <div class="form-group">
      <button style="margin-right:20px" type="submit" class="btn btn-primary">Add</button>
      <button
              type="button"
              (click)="onReset()"
              class="btn btn-warning float-right"
      >
        Reset
      </button>
    </div>
    <div *ngIf="this.message">
      {{this.message}}
    </div>
  </form>
</div>

<br><br>
<ag-grid-angular
        style="width: 80%; height: 250px;"
        class="ag-theme-alpine"
        [rowData]="rowData"
        [columnDefs]="columnDefs">
</ag-grid-angular>
